.tablero {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: solid;
    width: 480px;
  }

  .blanco {
    background-color: white;
    width: 60px;
    height: 60px;
  }
  
  .negra {
    background-color: black;
    width: 60px;
    height: 60px;
  }
  